# Resolved for Python 3.12 (linux x86_64) on 2026-09-24. Pinned full list incl. transitive packages.
# Check availability (works from Windows too):
#   pip download -r requirements-dev.txt --no-deps --only-binary=:all: --python-version 3.12 --platform manylinux_2_28_x86_64 --platform manylinux2014_x86_64 -d chk --index-url https://<artifactory-host>/artifactory/api/pypi/<pypi-repo>/simple
# Any package pip cannot find is missing from Artifactory.
ast-serialize==0.11.2
bandit==1.9.4
boolean-py==5.0
boto3==1.43.101
boto3-stubs==1.43.101
botocore==1.43.101
botocore-stubs==1.43.67
cachecontrol==0.14.4
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
coverage==7.16.1
cryptography==50.0.1
cyclonedx-python-lib==11.12.0
defusedxml==0.7.1
filelock==4.0.3
idna==3.20
iniconfig==2.3.0
jmespath==1.1.0
librt==0.15.0
license-expression==30.4.4
markdown-it-py==4.2.0
markupsafe==3.0.3
mdurl==0.1.2
moto==5.2.3
msgpack==1.2.2
mypy==2.3.1
mypy-boto3-s3==1.43.93
mypy-extensions==1.1.0
packageurl-python==0.17.6
packaging==26.3
pathspec==1.1.1
pip==26.2.1
pip-api==0.0.35
pip-audit==2.10.1
pip-requirements-parser==32.0.1
platformdirs==4.11.12
pluggy==1.6.0
py-partiql-parser==0.6.3
py-serializable==2.1.0
pycparser==3.0
pygments==2.21.0
pyparsing==3.3.3
pytest==9.1.1
pytest-cov==7.1.0
python-dateutil==2.9.0.post0
pyyaml==6.0.3
requests==2.34.2
responses==0.26.3
rich==15.0.0
ruff==0.16.8
s3transfer==0.19.2
six==1.17.0
sortedcontainers==2.4.0
stevedore==5.9.1
tomli==2.4.1
tomli-w==1.2.0
types-openpyxl==3.1.5.20260827
types-s3transfer==0.16.0
typing-extensions==4.16.0
urllib3==2.8.0
werkzeug==3.1.8
xmltodict==1.0.4
